@font-face {
  font-family: georgiab;
  src: url(fonts/georgiab.ttf);
}

@font-face {
  font-family: georgiai;
  src: url(fonts/georgiai.ttf);
}

@font-face {
  font-family: georgiaz;
  src: url(fonts/georgiaz.ttf);
}

@font-face {
  font-family: Montserrat-Bold_3;
  src: url(fonts/Montserrat-Bold_3.otf);
}

@font-face {
  font-family: Montserrat-Regular_1;
  src: url(fonts/Montserrat-Regular_1.otf);
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

html,
body {
  font-size: 100%;
  font-family: 'Montserrat-Regular_1';
  scroll-behavior: smooth;
}

body {
  background: #FFFCEA;
}

section {
  padding-top: 20px;
  padding-bottom: 40px;
}


/*-- header-left --*/

.header {
  padding: 3em 0;
}

.header-left {
  text-align: center;
}

.w3layouts-logo {
  position: relative;
}

.w3layouts-logo h1 {
  margin: 0;
}

.w3layouts-logo h1 a {
  color: #BA2927;
  font-family: 'Georgia', serif;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
}

.w3layouts-logo h1 a span {
  color: #BA2927 !important;
  font-family: 'Georgia', sans-serif;
  display: block;
  font-size: .3em;
  position: relative;
  text-decoration: none;
}

.w3layouts-logo h1 a span:before {
  content: "";
  position: absolute;
  background: #BA2927;
  width: 3%;
  top: 7px;
  height: 1px;
  left: 42%;
  text-decoration: none;
}

.w3layouts-logo h1 a span:after {
  content: "";
  position: absolute;
  background: #BA2927;
  width: 3%;
  top: 7px;
  height: 1px;
  right: 42%;
  text-decoration: none;
}


/*-- //header-left --*/


/*-- top-nav --*/

.top-nav ul {
  padding: 0;
  margin: 0;
}

.top-nav ul li {
  display: inline-block;
  float: none;
}

.top-nav ul li:nth-child(6) {
  margin-right: 0;
}

ul.nav.navbar-nav {
  float: none;
  text-align: center;
  background: none;
  padding-bottom: 10px;
}

.navbar-default {
  background: none;
  border: none;
  margin: 0;
}

.navbar {
  min-height: 0;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background: none;
  box-shadow: 1px 0px 0px 0px rgba(72, 72, 72, 0);
  outline: none;
}

.top-nav ul li a {
  color: #BA2927 !important;
  font-size: 1em;
  margin: 0 2em;
  text-decoration: none;
  padding: 0;
  font-weight: 600;
  letter-spacing: 1px;
}

.top-nav ul li a.list-border {
  border-left: none;
}

.top-nav ul li a:hover {
  color: #f5dba7 !important;
}

.top-nav ul li a.active {
  color: #BA2927 !important;
  background: none;
}

ul.dropdown-menu {
  background: #8BC34A;
  box-shadow: 0 0 0;
  border: none;
  margin: 0;
  top: 1.8em;
  left: 0px;
  min-width: 110px;
}

ul.dropdown-menu li {
  width: 100% !important;
}

.dropdown-menu>li>a {
  display: block;
  padding: .5em 1em !important;
  text-align: center;
  clear: both;
  margin: .2em 0 !important;
  font-weight: normal;
  line-height: 1.42857143;
  color: #FFF !important;
  border: none !important;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background: #FFFFFF;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 103%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-width: 5px 0 5px 5px;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}


/*-- //top-nav --*/

.holder {
  /* Clip edges, as some of the lines don't terminate nicely. */
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 50px;
  color: #BA2927;
  padding-left: 150px;
  padding-right: 150px;
}

.ellipse {
  background: radial-gradient(ellipse, transparent, transparent 9px, #BA2927 10.7px, #BA2927 11.3px, transparent 11px);
  background-size: 40px 40px;
  width: 100%;
  height: 17px;
}

.ellipse1 {
  background-position: 39px 40px;
}

.ellipse2 {
  background-position: 19px -24px;
}


/*-- welcome --*/

.welcome {
  background: linear-gradient(to bottom, #FFFCEA 0%, #FFFCEA 50%, #F6DD93 50%, #F6DD93 100%);
}

.welcomeh1 {
  font-family: "georgiai";
  font-size: 45px;
}

.welcomeh1 b {
  font-family: "georgiab";
  font-style: italic;
}


/*--//welcome//--*/


/*-- about --*/

.about_container {
  padding-right: 200px;
  padding-left: 200px;
}

.about-us {
  font-family: "georgiab" !important;
}

.agile_text_box p {
  line-height: 2em;
  margin: 0;
  color: #999999;
  font-size: .9em;
}

.agile_text_box i.fa {
  color: #8BC34A;
  font-size: 2em;
}

.agile_text_box h3 {
  font-size: .9em;
  color: #000000;
  margin: 1em 0 .5em;
  font-weight: 800;
  text-transform: uppercase;
}

.banner_bottom_right {
  padding-left: 0;
  float: left;
}

.banner_bottom_right_grid {
  padding-left: 0;
}

.wthree_banner_bottom_right_grids:nth-child(2) {
  margin: 1em 0 0;
}

.banner_bottom_left h3 {
  font-size: 2em;
  color: #BA2927;
  text-transform: capitalize;
}

.banner_bottom_left p i {
  color: #000000;
  display: block;
  margin: .5em 0 1em;
}

.banner_bottom_left {
  text-align: left;
  float: left;
}

.banner_bottom_left p {
  color: #000000;
  line-height: 2em;
  margin: 0;
  font-size: .9em;
  padding-right: 20px;
}

.wthree_more1 a,
.wthree_more2 a,
.wthree_more3 a {
  border-color: #212121;
  color: #212121;
  text-align: center;
}

.wthree_more1 .button--wayra {
  margin-left: 25em;
}


/*-- //about// --*/


/*// slider1 //*/

.dp-wrap {
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
  height: 100%;
}

.dp-slider {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.dp-slider div {
  transform-style: preserve-3d;
}

.dp_item {
  display: block;
  position: absolute;
  text-align: center;
  color: #FFF;
  border-radius: 10px;
  transition: transform 1.2s;
  width: 90%;
}

.dp-img img {
  border-left: 1px solid #fff;
  width: 100%;
}

#dp-slider .dp_item:first-child {
  z-index: 10 !important;
  transform: rotateY(0deg) translateX(0px) !important;
}

.dp_item[data-position="2"] {
  z-index: 9;
  transform: rotateY(0deg) translateX(-10%) scale(0.9) translate(5px, 40px)
}

.dp_item[data-position="3"] {
  z-index: 8;
  transform: rotateY(0deg) translateX(-10%) scale(0.9) translate(5px, 40px)
}

.dp_item[data-position="4"] {
  z-index: 7;
  transform: rotateY(0deg) translateX(-10%) scale(0.9) translate(5px, 40px)
}

#dp-next,
#dp-prev {
  position: absolute;
  top: 50%;
  right: 16%;
  height: 33px;
  width: 33px;
  z-index: 10;
  cursor: pointer;
}

#dp-prev {
  left: 15px;
  transform: rotate(180deg);
}

#dp-dots {
  position: absolute;
  bottom: 25px;
  z-index: 12;
  left: 38%;
  cursor: default;
}

#dp-dots li {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #fff;
  border-radius: 50%;
}

#dp-dots li:hover {
  cursor: pointer;
  background: #FA8C8C;
  transition: background .3s;
}

#dp-dots li.active {
  background: #FA8C8C;
}


/*.dp_item { width: 85%; }*/

.dp-content,
.dp-img {
  text-align: left;
}

.dp_item {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  border-top: 5px solid #FA8C8C;
}

.dp-content {
  padding-left: 100px;
  padding-right: 0;
  display: inline-block;
  width: 100%;
}

.dp-content h2 {
  color: #41414B;
  font-family: Circular Std Bold;
  font-size: 48px;
  max-width: 460px;
  margin-top: 8px;
  margin-bottom: 0px;
}

.dp-content p {
  color: #74747F;
  max-width: 490px;
  margin-top: 15px;
  font-size: 24px;
}

.dp-content .site-btn {
  margin-top: 15px;
  font-size: 13px;
  padding: 19px 40px;
}

.dp-img:before {
  background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  content: "";
  position: absolute;
  height: 100%;
  width: 25%;
  z-index: 1;
  top: 0;
  pointer-events: none;
  background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
  background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
  background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.dp-img img {
  /*  object-fit: cover;*/
  object-position: right;
}

#dp-slider,
.dp-img img {
  height: 500px;
}

#dp-slider .dp_item:hover:not(:first-child) {
  cursor: pointer;
}


/*slider1*/


/*//slider2//*/

.dp-wrap {
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
  height: 100%;
}

.dp-slider {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

.dp-slider div {
  transform-style: preserve-3d;
}

.dp_item {
  display: block;
  position: absolute;
  text-align: center;
  color: #FFF;
  border-radius: 10px;
  transition: transform 1.2s;
  width: 90%;
}

.dp-img img {
  border-left: 1px solid #fff;
  width: 100%;
}

#dp-slider .dp_item:first-child {
  z-index: 10 !important;
  transform: rotateY(0deg) translateX(0px) !important;
}

.dp_item[data-position="2"] {
  z-index: 9;
  transform: rotateY(0deg) translateX(-10%) scale(0.9) translate(5px, 40px)
}

.dp_item[data-position="3"] {
  z-index: 8;
  transform: rotateY(0deg) translateX(-10%) scale(0.9) translate(5px, 40px)
}

.dp_item[data-position="4"] {
  z-index: 7;
  transform: rotateY(0deg) translateX(-10%) scale(0.9) translate(5px, 40px)
}

#dp-next,
#dp-prev {
  position: absolute;
  top: 50%;
  right: 16%;
  height: 33px;
  width: 33px;
  z-index: 10;
  cursor: pointer;
}

#dp-prev {
  left: 15px;
  transform: rotate(180deg);
}

#dp-dots {
  position: absolute;
  bottom: 25px;
  z-index: 12;
  left: 38%;
  cursor: default;
}

#dp-dots li {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #fff;
  border-radius: 50%;
}

#dp-dots li:hover {
  cursor: pointer;
  background: #FA8C8C;
  transition: background .3s;
}

#dp-dots li.active {
  background: #FA8C8C;
}


/*.dp_item { width: 85%; }*/

.dp-content,
.dp-img {
  text-align: left;
}

.dp_item {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  border-top: 5px solid #FA8C8C;
}

.dp-content {
  padding-left: 100px;
  padding-right: 0;
  display: inline-block;
  width: 100%;
}

.dp-content h2 {
  color: #41414B;
  font-family: Circular Std Bold;
  font-size: 48px;
  max-width: 460px;
  margin-top: 8px;
  margin-bottom: 0px;
}

.dp-content p {
  color: #74747F;
  max-width: 490px;
  margin-top: 15px;
  font-size: 24px;
}

.dp-content .site-btn {
  margin-top: 15px;
  font-size: 13px;
  padding: 19px 40px;
}

.dp-img:before {
  background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  content: "";
  position: absolute;
  height: 100%;
  width: 25%;
  z-index: 1;
  top: 0;
  pointer-events: none;
  background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
  background: -o-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
  background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75));
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.dp-img img {
  /*  object-fit: cover;*/
  object-position: right;
}

#dp-slider,
.dp-img img {
  height: 500px;
}

#dp-slider .dp_item:hover:not(:first-child) {
  cursor: pointer;
}


/*slider2*/

.site-btn {
  color: #fff;
  font-size: 18px;
  font-family: "Circular Std Medium";
  background: #FA8282;
  padding: 14px 43px;
  display: inline-block;
  border-radius: 2px;
  position: relative;
  top: -12px;
  text-decoration: none;
}

.site-btn:hover {
  text-decoration: none;
  color: #fff;
}


/*-- what we serve --*/

.serve_container {
  padding-right: 170px;
  padding-left: 170px;
}

.what-heading {
  font-family: "georgiab";
  font-size: 2em;
  color: #BA2927;
  margin-top: unset !important;
  padding-bottom: 30px; 
}

.what-desc {
  padding: 20px 120px;
}

.team {
  background: url(../images/04.jpg) no-repeat 0px 0px;
  background-size: cover;
}

.w3lmask p {
  color: #000000;
  font-size: .9em;
  margin: 0;
}

.agile_team_grid {
  text-align: center;
}

.view {
  margin: 0;
  float: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  object-fit: cover;
  -webkit-box-shadow: 10px 10px 6px 0px rgba(186, 41, 39, 0.8);
  -moz-box-shadow: 10px 10px 6px 0px rgba(186, 41, 39, 0.8);
  box-shadow: 10px 10px 6px 0px rgba(186, 41, 39, 0.8);
  height: 376px;
}

.view .w3lmask,
.view .content {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 376px;
}

.view img {
  display: block;
  position: relative;
  object-fit: cover;
}

.view h5 {
  color: #BA2927;
  text-align: center;
  position: relative;
  font-size: 1em;
  font-weight: 800;
  margin: 0 0 1em;
  text-transform: uppercase;
}

.w3-agile-view img {
  -webkit-transition: all 0.4s ease-in-out 0.5s;
  -moz-transition: all 0.4s ease-in-out 0.5s;
  -o-transition: all 0.4s ease-in-out 0.5s;
  -ms-transition: all 0.4s ease-in-out 0.5s;
  transition: all 0.4s ease-in-out 0.5s;
  width: 100%;
  height: 376px;
}

.w3-agile-view .w3lmask {
  background-color: #F6DD93;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 0.3s ease-in 0.4s;
  -moz-transition: all 0.3s ease-in 0.4s;
  -o-transition: all 0.3s ease-in 0.4s;
  -ms-transition: all 0.3s ease-in 0.4s;
  transition: all 0.3s ease-in 0.4s;
  padding: 7em 1em 1em 1em;
}

.w3-agile-view h5 {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  background: transparent;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -o-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
  -o-transition: all 0.3s ease-in-out 0.1s;
  -ms-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}

.w3-agile-view p {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -o-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  -webkit-transition: all 0.3s ease-in-out 0.2s;
  -moz-transition: all 0.3s ease-in-out 0.2s;
  -o-transition: all 0.3s ease-in-out 0.2s;
  -ms-transition: all 0.3s ease-in-out 0.2s;
  transition: all 0.3s ease-in-out 0.2s;
}

.w3lmask2 p {
  color: #ffffff;
  font-size: .9em;
  margin: 0;
}

.agile_team_grid2 {
  text-align: center;
}

.view2 {
  margin: 0;
  float: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  object-fit: cover;
  -webkit-box-shadow: 10px 10px 6px 0px rgba(186, 41, 39, 0.8);
  -moz-box-shadow: 10px 10px 6px 0px rgba(186, 41, 39, 0.8);
  box-shadow: 10px 10px 6px 0px rgba(186, 41, 39, 0.8);
}

.view2 .w3lmask2,
.view2 .content2 {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.view2 img {
  display: block;
  position: relative;
  object-fit: cover;
}

.view2 h5 {
  color: #ffffff;
  text-align: center;
  position: relative;
  font-size: 1em;
  font-weight: 800;
  margin: 0 0 1em;
  text-transform: uppercase;
}

.w3-agile-view2 img {
  -webkit-transition: all 0.4s ease-in-out 0.5s;
  -moz-transition: all 0.4s ease-in-out 0.5s;
  -o-transition: all 0.4s ease-in-out 0.5s;
  -ms-transition: all 0.4s ease-in-out 0.5s;
  transition: all 0.4s ease-in-out 0.5s;
  width: 100%;
}

.w3-agile-view2 .w3lmask2 {
  /*background-color: #F6DD93;*/
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  opacity: 1;
  padding: 3em 1em 1em 1em;
  height: 100%;
}

.w3-agile-view2 h5 {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  opacity: 1;
  background: transparent;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  font-family: "georgiab";
}

.w3-agile-view2 p {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  opacity: 1;
  background: transparent;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  font-family: "Montserrat-Regular_1";
  color: #ffffff;
}

.agile_team_grid:hover .w3-agile-view .w3lmask,
.w3-agile-view:hover .w3lmask {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

.agile_team_grid:hover .w3-agile-view2 .w3lmask2,
.w3-agile-view2:hover .w3lmask2 {
  background-color: #ffffff99;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  height: 100%;
  font-family: "georgiab";
}

.agile_team_grid:hover .w3-agile-view img,
.w3-agile-view:hover img {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
}

.agile_team_grid:hover .w3-agile-view h5,
.w3-agile-view:hover h5 {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
  font-family: "georgiab";
}

.agile_team_grid:hover .w3-agile-view2 h5,
.w3-agile-view2:hover h5 {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  color: #BA2927;
  font-family: "georgiab";
}

.agile_team_grid:hover .w3-agile-view2 h5,
.w3-agile-view2:hover button.rd {
  background-color: #BA2927;
  color: white;
  border-color: #BA2927;
  font-family: "Montserrat-Regular_1";
}

.agile_team_grid:hover .w3-agile-view2 p,
.w3-agile-view2:hover p {
  color: black;
}

.agile_team_grid:hover .w3-agile-view p,
.w3-agile-view:hover p {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.w3-agile-view .agileits_social_icons {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -o-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 0.3s ease-in-out 0.1s;
  -moz-transition: all 0.3s ease-in-out 0.1s;
  -o-transition: all 0.3s ease-in-out 0.1s;
  -ms-transition: all 0.3s ease-in-out 0.1s;
  transition: all 0.3s ease-in-out 0.1s;
}

.agile_team_grid:hover .w3-agile-view .agileits_social_icons,
.w3-agile-view:hover .agileits_social_icons {
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.readMore {
  margin: 5em 0 0 0;
}

button.rd {
  border-radius: 7px 7px 7px 7px;
  color: #BA2927;
}

.social {
  margin: 1em 0 0 0;
}

.social ul {
  padding: 0;
  margin: 0;
}

.social ul li {
  display: inline-block;
  margin: 0 .5em;
}

.social ul li a {
  color: #333;
  text-align: center;
}

.social ul li a i.fa.fa-facebook {
  height: 40px;
  width: 40px;
  background: none;
  border: solid 2px #FFFFFF;
  line-height: 39px;
  color: #FFF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-facebook:hover {
  background: #3b5998;
  border: solid 2px #3b5998;
}

.social ul li a i.fa.fa-instagram {
  height: 40px;
  width: 40px;
  background: none;
  border: solid 2px #FFFFFF;
  line-height: 39px;
  color: #FFF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-instagram:hover {
  border: solid 2px #983AAA;
  background: linear-gradient(225deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.social ul li a i.fa.fa-whatsapp {
  height: 40px;
  width: 40px;
  background: none;
  border: solid 2px #FFFFFF;
  line-height: 39px;
  color: #FFFFFF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-whatsapp:hover {
  border: solid 2px #25D366;
  background: #25D366;
}

.social ul li a i.fa.fa-linkedin {
  height: 40px;
  width: 40px;
  background: none;
  border: solid 2px #FFFFFF;
  line-height: 39px;
  color: #FFFFFF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.social ul li a i.fa.fa-linkedin:hover {
  border: solid 2px #0077B5;
  background: #0077B5;
}


/*.social ul li:nth-child(3){
    margin:0 .5em;
}*/


/*-- //what we serve --*/


/*-- residence --*/

.residence_container {
  padding: 40px 200px;
  background-color: #F6DD93;
}

.join-now {
  margin-top: 30px;
}

.resprog {
  font-family: "georgiab";
}


/*-- //residence// --*/


/*-- lounge --*/

.lounge_container {
  padding-right: 200px;
  padding-left: 200px;
}

.view2 {
  margin: 0;
  float: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  object-fit: cover;
  -webkit-box-shadow: 10px 10px 6px 0px rgba(186, 41, 39, 0.8);
  -moz-box-shadow: 10px 10px 6px 0px rgba(186, 41, 39, 0.8);
  box-shadow: 10px 10px 6px 0px rgba(186, 41, 39, 0.8);
}


/*-- //lounge// --*/


/*-- contact --*/

.contact {
  padding-right: 200px;
  padding-left: 200px;
  background-color: #BA2927;
}

.contact-help {
  padding-right: 100px;
}

.contact-desc {
  color: #FFFCEA;
  margin-bottom: 30px;
  font-size: 2.5em;
  font-family: "georgiab";
}

.contact-p {
  color: #FFFCEA;
  padding-left: unset;
}

.email-help {
  color: #FFFCEA;
  padding-left: unset;
  padding-top: 70px;
}

.telp-help {
  color: #FFFCEA;
  padding-left: unset;
  padding-top: 20px;
}

.contact_container h1 {
  color: #FFFCEA;
}

.agile-contact-grids {
  margin: 4em 0 0 0;
}

.address-row {
  margin-top: 3em;
}

.address-row:hover span.glyphicon {
  border-color: #8BC34A;
  color: #ffffff;
  background: #8BC34A;
}

.w3-agile-address-left {
  padding: 0;
}

.address-row span.glyphicon {
  font-size: 1.2em;
  border: 1px solid #000;
  padding: 1em;
  color: #000000;
  transition: .5s all
}

.w3-agile-address-right h5 {
  font-size: 1em;
  color: #000;
  margin: 0 0 .4em 0;
  font-weight: 800;
}

.w3-agile-address-right p {
  font-size: 0.9em;
  color: #999999;
  margin: 0;
}

.w3-agile-address-right p a {
  color: #8BC34A;
}

.w3-agile-address-right p a:hover {
  color: #999;
}

.address h4 {
  font-size: 1.2em;
  color: #FFFFFF;
  margin: 0;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
}

.contact-form input::placeholder {
  color: #FFFCEA;
}

.contact-form textarea::placeholder {
  color: #FFFCEA;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
  width: 100%;
  color: #FFFCEA;
  float: left;
  background: none;
  outline: none;
  font-size: .9em;
  padding: .7em 1em;
  margin-bottom: 1.5em;
  border: solid 1px #FFFCEA;
  -webkit-appearance: none;
  display: inline-block;
}

.contact-form textarea {
  resize: none;
  width: 100%;
  background: none;
  color: #FFFFFF;
  font-size: .9em;
  outline: none;
  padding: .6em .8em;
  border: solid 1px #FFFCEA;
  min-height: 12em;
  -webkit-appearance: none;
}

.contact-form input[type="submit"] {
  outline: none;
  color: #FFFCEA;
  padding: 0.5em 3em;
  font-size: .9em;
  margin: 1em 0 0 0;
  -webkit-appearance: none;
  background: none;
  transition: 0.5s all;
  border: 1px solid #FFFCEA;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -moz-transition: 0.5s all;
}

.contact-form input[type="submit"]:hover {
  color: #BA2927;
  background: #FFFCEA;
  border: 1px solid #FFFCEA;
}


/*-- //contact// --*/


/*-- address --*/

.address_container {
  padding-right: 200px;
  padding-left: 200px;
}

.address-desc {
  color: #BA2927;
  margin-bottom: 30px;
  font-family: "georgiab";
}

.address-p {
  padding-left: unset;
}

.address-text {
  color: #BA2927;
}

.map iframe {
  margin-top: 20px;
  width: 100%;
  height: 200px;
}


/*footer*/

.footer_container {
  padding-right: 200px;
  padding-left: 200px;
}

.w3agile_footer_copy {
  padding: 1em 0;
  border-top: 1px solid #BA2927;
}

.row {
  padding-left: 15px;
}

.w3agile_footer_copy span {
  color: #BA2927;
  line-height: 1.8em;
  margin: 0;
  padding-left: 15px;
}


/*--footer--*/

.welcomeMsg {
  background-color: #ba2927;
  height: 125px;
  width: 500px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  padding-top: 25px;
  margin-top: 200px;
  z-index: 99;
  float: left;
  margin-left: 0px;
  position: absolute;
  color: white;
}

.paddingcol {
  padding-left: 250px;
  padding-right: 150px;
}

.instagram_container {
  padding-left: 150px;
  padding-right: 150px;
}

.smenu {
  position: fixed;
  right: 0em;
  top: 40%;
  width: 11em;
  margin-top: -2.5em;
  padding: 5px !important;
  color: #BA2927;
  text-align: right !important;
  background-color: #ffffff82 !important;
}

.smenu li {
  padding-bottom: 20px;
}

.ssmenu {
  position: fixed;
  left: 0;
  top: 40%;
  width: 5em;
  margin-top: -2.5em;
  color: #BA2927;
  text-align: left !important;
  z-index: 99999;
  padding: 5px !important;
  color: #BA2927;
  text-align: left !important;
  background-color: #ffffff82 !important;
}

.ssmenu li a i.fa {
  color: #BA2927 !important;
  border: solid 2px #BA2927 !important;
  margin-bottom: 10px;
}

.ssmenu li a i.fa:hover {
  color: #ffffff !important;
  border: solid 2px #ffffff !important;
  margin-bottom: 10px;
}

.carousel-inner {
  box-shadow: 10px 10px 6px 0px rgba(186, 41, 39, 0.8);
}

.resimg {
  box-shadow: 10px 10px 6px 0px rgba(186, 41, 39, 0.8);
  padding: unset;
}
.btn{
  border-radius: 40px !important;
}
input{
  border-radius: 40px !important;
}
textarea{
  border-radius: 25px !important;
}
center a:hover, a:focus {
    text-decoration: unset !important;
}